{% extends 'blog/main.html' %}
{% load static %}
{% block 'titre1' %} Forum {% endblock %}
{%block 'body'%}
<h5><span data-icon="&#x68;" style="margin-right:5px"></span><strong>FORUM</strong></h5>
<p><i>Nouveau Forum</i></p>

<div class="bg-secondary" style="margin-top: 1%">
   <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-secondary active">Nouveau</a>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown">
       Liste des Forums
    </button>
    <div class="dropdown-menu">
      <h5 class="dropdown-header"><i>Filtrer par :</i></h5>
      <a class="dropdown-item" href="#">Mention Mathématiques</a>
      <a class="dropdown-item" href="#">Mention Physiques</a>
      <a class="dropdown-item" href="#">Mention Science de la vie</a>
      <a class="dropdown-item" href="#">Toute mentions</a>
    </div>
  </div>
  <a href="#" class="btn btn-secondary">Mes Forums</a>
</div> 
</div>

{% if envoi %}
<div class="alert alert-success alert-dismissable" style="margin-top:10px">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Forum posté!</strong> Il reste à attendre des réponses !
</div>
{% endif %}

<form action="{% url "forum" %}" method="post" style="margin-top:15px">
    {% csrf_token %}
    {{ formNouveau.as_p }}
    <input type="submit" value="Poster" class="btn btn-primary"/>
</form>

{%endblock%}