{% extends 'blog/signup.html'%}
{% block 'corps' %}
<div class="container">
    <h3 class="text-secondary text-center" style="margin-top: 2%;">S'Inscrire</h3>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                <strong>Succès!</strong> {{message}}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if sauvegarde == True %}
        <p>Cliquez<a href="../login"> Ici </a>pour se connecter</p>
    {%endif%}
    <p>{{a}}</p>
    <div class="row" style=" border: 1px solid black">
        <div style="justify-content:center;display:flex; width: 90%; margin: 3%;">
            <form class="form-floating row" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-md-12" style="margin-top:1%;">
                        {{field.label}}
                        <br>
                        {{field}}
                    </div>
                {% endfor %}
                </p>
                <input type="submit" value="V a l i d e r" class="btn btn-primary" style="margin-top:30px;">
            </form>
            {{form.errors}}
        </div>
    </div>
</div>
{% endblock %}