{% extends 'blog/main.html' %}

{% block 'body' %}
<div class="container-fluid" style="margin-top: 7%">
<style>
    table {
border:3px solid grey;
border-collapse:collapse;
width:90%;
margin:auto;
}
thead{
background-color:#D0E3FA;
border:1px solid grey;
}
tbody {
background-color:#FFFFFF;
border:1px solid grey;
}
th {
font-family:monospace;
border:1px dotted grey;
padding:5px;
background-color:#EFF6FF;
width:25%;
}
td {
font-family:sans-serif;
font-size:80%;
border:1px solid grey;
padding:5px;
text-align:left;
}
caption {
font-family:sans-serif;
}
</style>
<table>
  <thead>
    <tr>
      <th>Semestre</th>
      <th>Unité d'enseignement</th>
      <th>Matiere</th>
      <th>Note</th>
      <th>Poids</th>
    </tr>
  </thead>
  {% for i in noty %}
  <tbody>
    <tr>
      <td>{{i.Semestre}}</td>
      <td> {{i.Nom_UE}}</td>
      <td>{{i.Nom_Mat}}</td>
      <td>{{i.Note}}</td>
      <td>{{i.Poids_Mat}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<br><br>
<table>
  <thead>
    <tr>
      <th>Unité d'enseignement</th>
      <th>Validation</th>
    </tr>
  </thead>
  {% for i in noty %}
  <tbody>
    <tr>
      <td> {{i.Nom_UE}}</td>
      <td>{{i.Validation_UE}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>


<br><br>
<table class="table-responsive">
  <thead>
      <tr>
          <th>Semestre</th>
          <th colspan="21">Unité d'enseignement</th>
          <th>Moyenne</th>
          <th>Validation</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th rowspan="3">S7</th>
          {% for i in note %}
            <td>{{i.Nom_UE}}</td>
          {% endfor %}
          <tr>
              <td>Approximation</td>
              <td>moyenne</td>
              <td>Validation</td>
              <td>Théorie des jeux</td>
              <td>moyenne</td>
              <td>Validation</td>
              <td>Statistique</td>
              <td>moyenne</td>
              <td>Validation</td>
              <td>Java</td>
              <td>Graphe</td>
              <td>moyenne</td>
              <td>Validation</td>
              <td>Marché Financières</td>
              <td>Finance d'Entreprise</td>
              <td>moyenne</td>
              <td>Validation</td>
              <td>Anglais</td>
              <td>Droit</td>
              <td>moyenne</td>
              <td>Validation</td>
          </tr>
          <tr>
              <td>12</td>
              <td>12</td>
              <td>12</td>
              <td>12</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>12</td>
              <td>12</td>
              <td>12</td>
              <td>12</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>12</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
          </tr>
      </tr>
  </tbody>
</table>


{% endblock %}