{% extends 'blog/signup.html' %}
{% load static %}
{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <!-- JS and CSS foreignkey -->
{% endblock %}
{% block 'titre1' %} Modification Note {% endblock %}
{% block 'anim' %}

{% endblock %}
{% block 'message' %}

{% endblock %}

{% block 'formulaire' %}
<div class="row" style="border: 1px solid black; border-radius: 10px; margin: 5%; background-color: white;">
    <div style="justify-content:center;display:flex; width: 90%; margin: 3%;">
        <form class="form-floating row" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-6" style="margin-top:1%;">
                    {{field.label}}
                    <br>
                    {{field}}
                </div>
            {% endfor %}
            <input type="submit" value="V a l i d e r" class="btn btn-primary" style="margin-top:30px; margin-left: 5%;">
        </form>
    </div>
    <a href="../shownote" style="margin: 2%;">Liste des notes</a>
</div>
{% block 'script' %}
{% endblock %}
{% endblock %}