{% extends 'blog/signup.html' %}
{% load static %}
{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <!-- JS and CSS foreignkey -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block 'titre1' %} Note {% endblock %}
{% block 'anim' %}
<div class="anim">
    <span><img src="{% static 'images/inscription_32px.png' %}"></span>
    <span style="--i:1">R</span> 
    <span style="--i:2">e</span>
    <span style="--i:3">g</span>
    <span style="--i:4">i</span>
    <span style="--i:5">s</span>
    <span style="--i:6">t</span>
    <span style="--i:7">r</span>
    <span style="--i:8">e</span>
    <span style="--i:8"> </span>
    <span style="--i:9">d</span>
    <span style="--i:10">e</span>
    <span style="--i:11">s</span>
    <span style="--i:12"> </span>
    <span style="--i:13">n</span>
    <span style="--i:14">o</span>
    <span style="--i:15">t</span>
    <span style="--i:16">e</span>
    <span style="--i:17">s</span>
    {{ce}}
</div>
{% endblock %}
{% block 'message' %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Succès!</strong> Note Enregistrée! :)
    </div>
    {% endif %}
    {% if erreur == True %}
        <div class="alert alert-danger">
            <strong>Erreur! </strong> Il y a un problème  :(
        </div>
    {%endif%}
{% endblock %}

{% block 'formulaire' %}
<form class="form-floating row" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="col-md-6" style="margin-top:1%;">
            {{field.label}}
            <br>
            {{field}}
        </div>
    {% endfor %}
    <input type="submit" value="V a l i d e r" class="btn btn-primary" style="margin-top:30px; margin-left: 5%;">
</form>
{% block 'script' %}
    <script src="{% static './node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function(){
            $("#sel").select2()
        })
    </script>
{% endblock %}
{% endblock %}