{% extends 'blog/signup.html' %}
{% load static %}
{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <!-- JS and CSS foreignkey -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block 'titre1' %} Registre Note {% endblock %}
{% block 'navbar' %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="{% static 'images/FAC.PNG' %}" alt="Logo Sciences" class="rounded-circle" style="width: 50px; height: 50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../showuser">Liste des notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../logout">Déconnexion</a>
            </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0 text-white" style="margin-left: 1%;">
            <span>
                {{user.username}}
                <img src="{{request.user.profil.avatar.url}}"  style="width: 50px; height: 50px;" class="rounded-circle">
            </span>
        </div>
    </div>
  </nav>
{% endblock %}

{% block 'imglogo' %}
{% endblock %}
{% block 'anim' %}

{% endblock %}
{% block 'message' %}
    {% if success %}
    <div class="alert alert-success">
        <strong>Succès!</strong> Note Enregistrée! :)
    </div>
    {% endif %}
    {% if erreur == True %}
        <div class="alert alert-danger">
            <strong>Erreur! </strong> Il y a un problème  :(
        </div>
    {%endif%}
{% endblock %}

{% block 'formulaire' %}
<div class="row" style="border: 1px solid black; border-radius: 10px; margin: 5%; background-color: white;">
    <div style="justify-content:center;display:flex; width: 90%; margin: 3%;">
        <form class="form-floating row" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-6" style="margin-top:1%;">
                    {{field.label}}
                    <br>
                    {{field}}
                </div>
            {% endfor %}
            <div class="col-md-6" style="margin-top: 1%;">
                <label for="user">L'étudiant</label>
                <input type="text" class="form-control" id="usr" value="{{pk}}" disabled>
            </div>
            <input type="submit" value="V a l i d e r" class="btn btn-primary" style="margin-top:30px; margin-left: 5%;">
        </form>
    </div>
</div>
{% block 'script' %}
    <script src="{% static './node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function(){
            $("#sel").select2()
        })
    </script>
{% endblock %}
{% endblock %}