{% extends 'blog/signup.html' %}
{% load static %}
{% block 'titre1'%} Les notes {% endblock %}
{% block 'css' %} 
    <link rel="stylesheet" href="{% static 'css/note.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block 'navbar' %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="{% static 'images/FAC.PNG' %}" alt="Logo Sciences" class="rounded-circle" style="width: 50px; height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../showuser">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../shownote">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../publier">Publier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../logout">Déconnexion</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" placeholder="Entrer le numero du CE" aria-label="Search" name="rech">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="Rechercher">Chercher</button>
        </form>
        <div class="form-inline mt-2 mt-md-0" style="margin-left: 1%;">
          <span><img src="{{request.user.profil.avatar.url}}"  style="width: 50px; height: 50px;" class="rounded-circle"></span>
        </div>
      </div>
</nav>
{% endblock %}

{% block 'imglogo' %}
{% endblock %}
{% block 'anim' %}

{% endblock %}
{% block 'formulaire' %}
  <div style="display: inline;">
    <div class="table-responsive-md">
      <table class="table">
        <thead>
          <tr>
            <th>Carte d'étudiant</th>
            <th>Semestre</th>
            <th>Unité d'enseignement</th>
            <th>Matiere</th>
            <th>Note</th>
            <th>Poids</th>
            <th>Modification</th>
          </tr>
        </thead>
        {% for i in user_notes %}
        <tbody>
          <tr>
              <td>{{i.Us}}</a></td>
              <td>{{i.Semestre}}</td>
              <td>{{i.Nom_UE}}</td>
              <td>{{i.Nom_Mat}}</td>
              <td>{{i.Note}}</td>
              <td>{{i.Poids_Mat}}</td>
              <td><a href="{% url 'editnote' i.id %}"><img src="{% static 'images/edit_32px.png'%}" alt=""></a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
