{% extends 'blog/main.html' %}
{% load static %}
{% block 'titre1' %} Blog Perso {% endblock %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'css/note.css' %}">
{% endblock %}
{% block 'body' %}
<h5 style="margin-top:100px"><span><img src="{%static 'images/user_shield_32px.png' %}" alt="perso"></span><strong>PERSONNEL</strong></h5>
<p><i>Votre Blog Personnel</i></p>
<div class="container-fluid" style="margin-top: 20px">
    <div class="bg-secondary" style="margin-top: 1%">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" id="txt" data-toggle="pill" href="#home">Mon Profil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="txt" data-toggle="pill" href="#menu1">Mes Notes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="txt" data-toggle="pill" href="#menu2">Mes fichiers</a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <h3 class="text-secondary">Mon Profil</h3>
            <div class="alert alert-info">
                <strong>N.B!</strong> Vous ne pouvez changer que de l'avatar.
            </div>
            <div style="justify-content:center;display:flex;">
                <img src="{{request.user.profil.avatar.url}}" alt="user.avatar" class="rounded-circle" style="width: 150px; height: 150px;">
            </div>
            <form class="form-floating row g-3" method="POST" enctype="multipart/form-data">
                <div class="col-md-4">
                    <label for="usr">Carte d'étudiant : </label>
                    <input type="text" class="form-control" id="usr" placeholder="{{request.user.username}}" disabled>
                </div>
                <div class="col-md-4">
                    <label for="nom">Nom :</label>
                    <input type="text" class="form-control" id="nom" placeholder="{{request.user.last_name}}" disabled> 
                </div>
                <div class="col-md-4">
                    <label for="prenom">Prénoms :</label>
                    <input type="text" class="form-control" id="prenom" placeholder="{{request.user.first_name}}" disabled> 
                </div>
                <div class="col-md-4">
                    <label for="parc">Parcours :</label>
                    <input type="text" class="form-control" id="parc" placeholder="{{request.user.profil.parcour}}" disabled> 
                </div>
                <div class="col-md-4">
                    <label for="mail">Mail :</label>
                    <input type="email" class="form-control" id="mail" placeholder="{{request.user.email}}" disabled> 
                </div>
                {% csrf_token %}
                {% for field in form %}
                <div class="col-md-4">
                    {{field.label}}
                    {{field}}
                </div>
                {% endfor %}
                <input type="submit" value="Changer" class="btn btn-primary" style="margin-top:30px;">
            </form>
            <br><br>
            <div class="alert alert-info">
                Cliquez <a href="{% url 'reset_password' %}"><strong>ici</strong></a> pour changer le mot de passe
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
        <h3 class="text-secondary">Mes Notes</h3>
        <i class="text-secondary">Pour un smart phone: Glisser vers gauche pour voir d'autres notes</i>
        <br>
        <h5 class="text-secondary" style="text-decoration: underline;">Note Par matières</h5>
            <table class="table-responsive">
                <thead>
                <tr>
                    <th>Semestre</th>
                    <th>Unité d'enseignement</th>
                    <th>Matiere</th>
                    <th>Note</th>
                    <th>Poids</th>
                </tr>
                </thead>
                {% for i in noty %}
                <tbody>
                <tr>
                    <td>{{i.Semestre}}</td>
                    <td> {{i.Nom_UE}}</td>
                    <td>{{i.Nom_Mat}}</td>
                    <td>{{i.Note}}</td>
                    <td>{{i.Poids_Mat}}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            <br><br>
            <div class="row;">
                <h5 class="text-secondary" style="text-decoration: underline;">Moyenne par Unité d'enseignement</h5>
                <div class="col">
                    <table>
                        <thead>
                        <tr>
                            <th>Semestre</th>
                            <th>Unité d'enseignement</th>
                            <th>Moyenne</th>
                            <th>Validation_UE</th>
                        </tr>
                        </thead>
                        {% for res in resultat %}
                        <tbody>
                            <tr>
                                {% for i in res %}
                                <td>{{i}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                <br><br>
                <h5 class="text-secondary" style="text-decoration: underline;">Moyenne Par Semestre</h5>
                <div class="col">
                    <table>
                        <thead>
                        <tr>
                            <th>Semestre</th>
                            <th>Unité d'enseignement</th>
                            <th>Moyenne</th>
                        </tr>
                        </thead>
                        {% for res in resultat %}
                        <tbody>
                            <tr>
                                {% for i in res %}
                                <td>{{i}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <br><br>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
        <h3 class="text-secondary">Mes fichiers</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>
{% endblock %}
